<!DOCTYPE html>
<html lang="en">
<head>
  <title>Busqueda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
<div><a class="btn btn-default" href="./">Regresar a la busqueda</a></div>
<div class="row well-lg">
  <div class="col-md-6 well-sm">
    <table class="table" width="100%" id="tab">
      <tbody>
        
      </tbody>
    </table>
  </div>
    <div class="col-md-6 well-sm">
    {{pais}}
    <div class="row">
      <div class="col-md-12" style="height: 500px" id="map">
        
      </div>
    </div>
  </div>
</div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{API}}&libraries=places" async defer></script>


  <script>
$( document ).ready(function() {
      var pais = "{{pais}}";

      codeAddress(pais,4);

        var paises = ["India","Rusia","Panama","Colombia"];

        var codes = ["IND","RUS","PMA","COL"];

        var id = null;

          for (var i = paises.length - 1; i >= 0; i--) {
            if(paises[i] === pais){
              id = i;
              break;
            }
          }

          if(id === null)
            id = 3;

        $.ajax({url: "http://services.groupkt.com/state/get/"+codes[id]+"/all", 
          success: function(result){
                $.each(result.RestResponse.result, function() {
                    $("#tab tbody").append('<tr class="child" onclick="mapa(this)" data-name="'+this.name+'"><td>'+this.name+'</td></tr>');
                });
    }});


});

var geocoder, map;

function codeAddress(address,zoom) {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': address
    }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var myOptions = {
                zoom: zoom,
                center: results[0].geometry.location,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        }
    });
}


    function mapa(tabrow){
      codeAddress($(tabrow).data("name"),7);
    }
</script>
</body>
</html>
